option_settings:
  - namespace:  aws:elbv2:loadbalancer
    option_name:  ManagedSecurityGroup
    value:  '`{ "Fn::ImportValue" : "LatamWebAccessSecurtyGroup-WebAccessLatamSG" }`'
  - namespace:  aws:elbv2:loadbalancer
    option_name:  SecurityGroups
    value:  '`{"Fn::ImportValue" : "LatamWebAccessSecurtyGroup-WebAccessLatamSG" }`'